/* NAVIGATIE */
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
        background: white;
        border-bottom: 1px solid #ddd;
      }

      .logo {
        font-size: 28px;
        letter-spacing: 3px;
      }

      nav a {
        margin-left: 30px;
        text-decoration: none;
        color: black;
        font-size: 18px;
      }

/* CONTENT */
      .container {
        max-width: 900px;
        margin: 80px auto;
        padding: 0 20px;
      }

      .section {
        background: white;
        padding: 40px;
        margin-bottom: 30px;
        border: 1px solid #eee;
      }

      .section h2 {
        font-size: 28px;
        margin-bottom: 15px;
      }

      .section p {
        font-size: 18px;
        line-height: 1.6;
        color: #444;
      }