body {
  margin: 0;
  font-family: "Iosevka Charon", monospace;
  background: url("../imgs/indonesia-map.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.knoppen a {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid #ddd;
  font-family: "Iosevka Charon", monospace;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.3s;
}

.knoppen a:hover {
  background: black;
  color: white;
}
